* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10vh;
  column-gap: 5.5vw;
  padding: 10vh 7vw 0vh 7vw;
}

.country-div {
  width: 20%;
  background-color: whitesmoke;
  cursor: pointer;
}

.country-flag {
  height: 12rem;
  width: 100%;
  margin-bottom: 1.5rem;
}


.country-name {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}



.country-span-detail {
    font-weight: 600;
}


.popup-container{
  background-color: antiquewhite;
  position: fixed;
  left: 22%;
  top:33%;
  width: 60vw;
}

.popup-div{
  display: flex;
  column-gap: 2vw;
  padding-right: 5vw;
  height: 35vh;
}


.popup-country-flag{
  height:35vh;
}


.popup-content{
  font-size: 30px;
  margin-bottom: 2vh;
}

.back-button{
  margin-top: 2vh;
  cursor: pointer;
}

.search{
  padding: 2vh 4vw 2vh 4vw;
}
.inputSearch{
  padding: 1vh 2vw 1vh 2vw;
}

.section-select {
  
}

.select {
  padding: 2vh 4vw 2vh 4vw;
}

.filterContainer{
  display: flex;
  padding: 10vh 0 2vh 5vw;
  justify-content: center;
  column-gap: 5vw;
}

.loader {
  position: fixed;
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.75s, visibility 0.75s;
}


.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #009578;
  border-radius: 50%;
  animation: loading 1.5s ease ;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(2turn);
  }
}